<div style="margin-top: 80px;"></div>
<h2>Lista de Cervejas</h2>
<ng-container *ngIf="cervejas$ | async as cervejas">
   <p>Total: {{ cervejas.length }}</p>
   <div class="container">
      <div class="row">
         <div class="col-md-3 mb-3" *ngFor="let c of cervejas">
            <div class="card h-100">
               
                  <img
  *ngIf="c.imagem_1"
  [src]="getImagemUrl(c, c.imagem_1)"
  class="card-img-top"
/>
               
               <div class="card-body">
<h5 class="mb-1">{{ c.rotulo }}</h5>

<div class="text-muted small mb-2">
  <div>{{ c.cervejaria.cervejaria }}</div>
  <div>{{ c.cervejaria.pais }}</div>
</div>
                  <h4>
                     R$ {{ c.preco | number:'1.2-2' }}
                  </h4>
          <div class="d-grid gap-2 mt-2">

  <a
    [routerLink]="['', c.id]"
    class="btn btn-success">
    Adicionar ao Carrinho
  </a>

  <a
    [routerLink]="['/cervejas', c.id]"
    class="btn btn-outline-primary">
    Ver Detalhes
  </a>

</div>      
               </div>
            </div>
         </div>
      </div>
   </div>
</ng-container>
