<div style="margin-top: 80px;"></div>

<h2>Lista de Cervejas</h2>

<ng-container *ngIf="cervejas$ | async as cervejas">

  <p>Total: {{ cervejas.length }}</p>



  <div class="container">

  <div class="row">

   <div class="col-md-4 mb-4" *ngFor="let c of cervejas">

  <div class="card h-100">

    <div class="imagens" *ngIf="c.imagem_1">
      <img
        [src]="getImagemUrl(c, c.imagem_1)"
        class="card-img-top">
    </div>

    <div class="card-body">

      <h5>{{ c.rotulo }}</h5>

      <p>
        {{ c.cervejaria.cervejaria }}
      </p>

      <h4>
        R$ {{ c.preco | number:'1.2-2' }}
      </h4>

      <a
        [routerLink]="['/cervejas', c.id]"
        class="btn btn-primary">

        Ver Detalhes

      </a>

    </div>

  </div>

</div>

  </div>

</div>

</ng-container>