<div class="container-fluid">

  <!-- Botão apenas no celular -->
  <div class="d-md-none mb-3 text-end">
    <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtrosOffcanvas">

      <i class="bi bi-funnel me-2"></i>
      Filtros
    </button>
  </div>

  <div class="row">

    <!-- FILTROS DESKTOP -->
    <div class="col-md-2 d-none d-md-block">
      <app-filtro-lateral [paisSelecionado]="paisAtual" [sortSelecionado]="sortAtual"
        (paisChange)="onPaisChange($event)" (sortChange)="onSortChange($event)">
      </app-filtro-lateral>
    </div>

    <!-- PRODUTOS -->
    <div class="col-12 col-md-10">
      <div *ngIf="erro()" class="alert alert-danger">
        {{ erro() }}
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-3" *ngFor="let c of cervejas()">
          <div class="card h-100">
            <img *ngIf="c.imagem_1" [src]="getImagemUrl(c, c.imagem_1)" class="card-img-top" />
            <div class="card-body">
              <h5 class="mb-1">{{ c.rotulo }}</h5>
              <div class="text-muted small mb-2">
                <div>{{ c.cervejaria.cervejaria }}</div>
                <div>{{ c.cervejaria.pais }}</div>
              </div>
              <h4>R$ {{ c.preco | number:'1.2-2' }}</h4>
              <div class="d-grid gap-2 mt-2">
                <button class="btn btn-success" (click)="adicionarAoCarrinho(c.id)">
                  Adicionar ao Carrinho
                </button>
                <a [routerLink]="['/cervejas', c.id]" class="btn btn-outline-primary">
                  <i class="bi bi-eye me-1"></i>
                  Ver detalhes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PAGINAÇÃO -->
      <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
        <button class="btn btn-outline-secondary btn-sm" (click)="paginaAnterior()" [disabled]="paginaAtual === 0">
          Anterior
        </button>
        <span>
          Página {{ paginaAtual + 1 }} de {{ totalPages() }}
        </span>
        <button class="btn btn-outline-secondary btn-sm" (click)="proximaPagina()"
          [disabled]="paginaAtual >= totalPages() - 1">
          Próximo
        </button>
      </div>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="filtrosOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <i class="bi bi-funnel me-2"></i>
      Filtros
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
    </button>
  </div>
  <div class="offcanvas-body">
    <app-filtro-lateral [paisSelecionado]="paisAtual" [sortSelecionado]="sortAtual" (paisChange)="onPaisChange($event)"
      (sortChange)="onSortChange($event)">
    </app-filtro-lateral>
  </div>
</div>